* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 24px;
}

body {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#container {
  position: absolute;
  left: 0;
  /*top: 0;*/
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#container video {
  left: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.simform {
  padding-top: 10%;
  background-color: #FFD96C;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.simform ol:before {
  height: 0;
}

.questions input {
  margin: 20px 0 20px 20px;
  width: 65%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.next::after{
  top: 50px;
}

.questions li > span {
  padding: 10px;
  line-height: 1.4;
}

.q1-qbg {
  background-color: #FFAA00;
}

.q2-qbg {
  background-color: #00C737;
}

.q3-qbg {
  background-color: #0051FF;
}

.q4-qbg {
  background-color: #c00059;
}

.q5-qbg {
  background-color: #FF8800;
}

.q6-qbg {
  background-color: #303F9F;
}
#theForm {
  position: relative;
  top: 50px
}

.title {
  position: absolute;
  top: -40px;
}

.title div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000000;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.dog {
  position: absolute;
  top: -45px;
  right: -30px;
  width: 130px;
  z-index: 999;
}

.dog img {
  width: 90%;
}

.simform .number {
    position: absolute;
    top: 55%;
    right: 10px;
    overflow: hidden;
    margin: 1.3em 0;
    /*width: 45px;*/
    font-weight: 700;
    font-size: 0.5em;
}

/* tip */
.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes tip-show-up {
  from {
    top: 100%;
  }
  to {
    top:0;
  }
}

@-moz-keyframes tip-show-up {
  from {
    top: 100%;
  }
  to {
    top:0;
  }
}

@-ms-keyframes tip-show-up {
  from {
    top: 100%;
  }
  to {
    top:0;
  }
}

@-o-keyframes tip-show-up {
  from {
    top: 100%;
  }
  to {
    top:0;
  }
}

@keyframes tip-show-up {
  from {
    top: 100%;
  }
  to {
    top:0;
  }
}

@-webkit-keyframes tip-show-dw {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@-moz-keyframes tip-show-dw {
  from {
    top: 0;
  }
  to {
    top:100%;
  }
}

@-ms-keyframes tip-show-dw {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@-o-keyframes tip-show-dw {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@keyframes tip-show-dw {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.tip-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: transparent;
}

/*.tip-show:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  content: '';
  z-index: -1;
}*/

.tip-cover {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-y: hidden;
  position: static;
  top: 0;
}

.tip-content, .tips{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-y: auto;
  visibility: hidden;
  background: url('../images/lasutan.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #000;
}

.tips.active {
  visibility: visible;
}

.tip-wrap.tip-show {
  -webkit-animation: tip-show-up 0.3s ease 1;
  -moz-animation: tip-show-up 0.3s ease 1;
  -ms-animation: tip-show-up 0.3s ease 1;
  -o-animation: tip-show-up 0.3s ease 1;
  animation: tip-show-up 0.3s ease 1;
  top:0;
}

.tip-wrap.tip-hide {
  -webkit-animation: tip-show-dw 0.3s ease 1;
  -moz-animation: tip-show-dw 0.3s ease 1;
  -ms-animation: tip-show-dw 0.3s ease 1;
  -o-animation: tip-show-dw 0.3s ease 1;
  animation: tip-show-dw 0.3s ease 1;
  top: 100%;
}

.tip-icon {
  background: url('../images/tip.png') no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-background-size: 64px 64px;
  background-size: 64px 64px;
  z-index: 1;
}

#map {
  height: 100%;
  color: #000 !important;
}

#tip-css {
  background-color: purple;
}

.logo {
  background: url('../images/logo.jpg');
  width: 100%;
  height: 100%;

}

.position {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  text-align: center;
  line-height: 5em;
}

.position span {
  top: 20%;
  position: relative;
  display: block;
}

.pos-icon {
  background: url('../images/N.jpg');
  width: 212px;
  height: 212px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

.html {
  background: url('../images/code_html.jpg');
  width: 210px;
  height: 110px;
  float: left;
  position: relative;
  top: 3%;
}

.css {
  background: url('../images/code_css.jpg');
  width: 258px;
  height: 789px;
  float: left;
  position: relative;
  top: 3%;
}

.sleep {
  background: url('../images/sleep.png');
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 3%;
}

.eat {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30%;
  line-height: 40px;
  font-size: 24px;
}

#content {
  color: #000;
}
